.form-container {
  max-width: 700px;
  margin: 150px auto;
}

.form-container form h1 {
  text-align: center;
  margin: 0px;
}

.form-container form {
  background-color: white;
  box-shadow: 0px 0px 6px #ccc;
  width: 100%;
  text-align: left;
  padding: 10px 20px;
  box-sizing: border-box;
  line-height: 1.5;
}

.form-container form input,
.form-container form button {
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.form-container button {
  color: white;
  background-color: blue;
  font-weight: bold;
  cursor: pointer;
}

.form-container form label {
  font-size: 18px;
  font-weight: bold;
}

.form-container .msg {
  margin: 0px;
}

.form-container form label {
  font-size: 18px;
}

@media screen and (max-width: 750px) {
  .form-container {
    margin: 150px 20px;
  }
}
